<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new Cheeseburger!</title>
</head>
<body>
<h1>
    Please create a new cheeseburger:
</h1>
<h2>
    <form action="/create-cheeseburger" method="post">
        <input type="text" placeholder="Order Name" name="orderName"/>
        <input type="text" placeholder="Mayo [true/false]" name="mayo"/>
        <input type="text" placeholder="Number of Patties" name=patty/>
        <input type="text" placeholder="Number of Buns" name="bun"/>
        <input type="text" placeholder="Amount of Bacon" name="bacon"/>
        <input type="text" placeholder="Special Instructions" name="instructions"/>
        <button type= "Post">Submit</button>
    </form>


</h2>
</body>
</html>